@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-R';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background: #050321;
    color: #fff;
    font-family: 'Roboto';
    overflow: hidden;
}
section{
    display: block;
    overflow-x: none;
    overflow-y: none;
    word-wrap: break-word;
}

header{
    display: block;
    position:relative;
}
.close{
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}
/* Style The Dropdown Button */
.dropbtn {
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #46B2E6;
    padding: 10px;
    text-decoration: none;
    display: block;
    width: 120px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #454545;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.headline{
    text-align: center;
    color: #FFF;
}
.our-box{
    width: 250px;
    margin: auto;
    padding: 20px;
    /*border: 8px dotted #46B2E6;*/
    /*border-radius: 24px;*/
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px -50px;
    position: relative;
    top:100%;
    left:50%;
    border-radius: 60px;
}

.button1 {
    background-color: #3F5B73;
    color: #fff;
    border: 2px solid #454545;
}

.button1:hover {
    background-color: #CCE6FF;
    color: #000;
}
input{
width: 100%;
padding: 12px 12px;
margin: 8px 0;
box-sizing: border-box;
border: none;
background-color: #2D4760;
color: white;
}
textarea{
    width: 100%;
    height: 80px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #2D4760;
    color: white;
}