@keyframes blur {
    from{filter: blur(5px);}
    to{}
}

@font-face {
    font-family: 'segoeui-R';
    src: url('../fonts/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background: linear-gradient(45deg, rgba(242,136,231,1) 0%, rgba(62,149,189,1) 100%);
    width: 800px;
    overflow: hidden;
    user-drag: none;
    cursor: default;
    animation: blur 0.2s ease;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.logo{
    display: block;
    width: 150px;
    margin: 140px auto 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    transition: all 0.3s ease;
}

.logo:hover{
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.text {
    text-align: center;

    font-family: 'segoeui-R';
    color: white;
    font-size: 2em;
    margin-top: 26px;
    -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
}
.text2{
    text-align: center;
    font-family: 'segoeui-R';
    color: white;
    font-size: 2em;
    margin-top: 2px;
    -webkit-box-reflect: below -18px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
}
.start{
    width: 200px;
    display: block;
    padding: 10px 10px 15px;
    border: 2px solid #fff;
    margin: 40px auto 0;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    font-family: 'segoeui-R';
    color: white;
    font-size: 2em;
    font-weight: bold;
    transition: all 0.3s ease;

}

.start:hover{
    background: #fff;
    border: 2px solid #fff;
    color: blue;
    transition: all 0.3s ease;
}
